body {
    @include fondo();
    p {
        @include fuente();
    }
    dt {
        color: rgb(255, 255, 255);
        font-family: 'noto sans'
    }
}
.text {
    color: rgb(255, 255, 255);
}
.catalogo {
    padding: 0 287px;
}