/* Logo y Titulo */
.logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

/* HEADER menu de navegacion */
.navbar-custom {
    background-color: rgba(20, 64, 107, 0.952);
}

nav li:hover a {
    color: rgb(233, 228, 228);
}

nav a {
    text-decoration: none;
    font-family: 'noto sans';
}

/* contenido de la pagina */
body {
    background-image: url(../img/Fondo\ borroso.jpg);
    background-position: top;
    p{
        color: rgb(165, 215, 232);
        font-family: 'noto sans';
        font-size: 20px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 30px;
    }
    dt{
        color: rgb(165, 215, 232);
        font-family: 'noto sans'
    }
}
.text {
    color: rgb(104, 141, 153);
}

/* formulario de contacto */
.form-label {
    color: rgb(165, 215, 232);
}

/* tarjetas de productos y servicios */
.tarjeta-producto {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    padding: 20px;
    margin: 15px;
    display: inline-block;
        .tarjeta-producto img{
            max-width: 100%;
            height: auto;
            margin-top: 10px;
        }
        .tarjeta-producto h3{
            font-size: 1.2em;
            margin-bottom: 10px;
            font-family: 'noto sans';
            color: rgb(165, 215, 232);
        }
        .tarjeta-producto .precio{
            font-size: 1.5em;
            font-weight: bold;
            display: block;
            margin-bottom: 10px;
            font-family: 'noto sans';
            color: rgb(162, 216, 252);
        }
}

.yoda {
    margin-top: 5%;
}

.card-custom{
    background-color:#273b47;
}

/* Imagenes */



/* Pie de pagina */
footer {
    background-color: #3d7fa536;
    footer a{
        margin: 8px;
    }
}

/* Media Queries */
@media (max-width:480px) {

}