@mixin fondo {
    background-color: #18242b;
}
@mixin fuente {
    color: rgb(165, 215, 232);
        font-family: 'noto sans';
        font-size: 20px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 30px;
}


/* Logo y Titulo */
.logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

/* HEADER menu de navegacion */
@import "menu";
li{
    text-align: center;
    padding: 5px;
}

/* contenido de la pagina */
.body{
    @include fondo ();
}
body {
    @include fondo();
    p{
        @include fuente();
    }
    dt{
        color: rgb(165, 215, 232);
        font-family: 'noto sans'
    }
}
.text {
    color: rgb(104, 141, 153);
}


/* formulario de contacto */
.form-label {
    color: rgb(165, 215, 232);
}

/* tarjetas de productos y servicios */
.card-body{
    background-color:#273b47;
}

/* Pie de pagina */
footer {
    background-color: #3d7fa536;
    footer a{
        margin: 8px;
    }
}